.title {
    color: rgb(211, 9, 25);
    font-size: 36px;
    text-align: center;    
}

.links {
    color: rgb(84, 164, 230);
    font-size: 20px;
    font-weight: bold;    
    text-align: center;
}